<!doctype html>
<html>
<head>
	<title>Homepage</title>
</head>
<body>
	<header>
	<ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/photo">Image</a></li>
	    <li><a href="/about">About</a></li>
  	</ul>
	
	<img src="/img/ocean.jpg" alt="Ocean" style="width:200px;">
	</header>
	
	{{{body}}}
	
	<footer><p>Web Application Development - M3 Assignment</p></footer>
</body>
</html>
